@model PCBuildWeb.Models.Entities.Properties.BuildTypeStructure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BuildTypeStructure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
