@model PCBuildWeb.Models.Entities.Parts.CaseFan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseFan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirFlow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirFlow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirPressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirPressure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelUnlock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelUnlock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lighting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lighting)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
