@model IEnumerable<PCBuildWeb.Models.Entities.Parts.Motherboard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoboChipset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPUSocket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxRamSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DualGPUMaxSlotSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overclockable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2Slots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2SlotsSupportingHeatsinks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RamSlots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SATASlots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludesCPUBlock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultRamSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinRamSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelUnlock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lighting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MoboChipset.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPUSocket.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxRamSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DualGPUMaxSlotSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overclockable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M2Slots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M2SlotsSupportingHeatsinks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RamSlots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SATASlots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludesCPUBlock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultRamSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinRamSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelUnlock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lighting)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
