@model PCBuildWeb.Models.Building.Build
@using PCBuildWeb.Models.Enums
@using PCBuildWeb.Models.Building
@using PCBuildWeb.Models.Entities.Parts

@{
    ViewData["Title"] = "Build Result";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        <h5>Build Costs:</h5>
        <p class="text-success">Total value: $@Model.Components.Sum(c => c.BuildPart!.Price)</p>
        <p class="text-success">Spare Budget: $@(Model.Parameter.Budget-Model.Components.Sum(c => c.BuildPart!.Price))</p>
    </div>
    <div class="col-lg-4">
        <h5>Build Scores:</h5>
        <p class="text-success">Basic Score: @Model.GetTotalBasicScore()</p>
        <p class="text-success">Overclocked Score: @Model.GetTotalOCScore()</p>
        <p class="text-success">Ranking Score: @Model.GetTotalRankingScore()</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <h4>Main Parts</h4>
        @foreach (var component in Model.Components.Where(c => c.BuildPart!.PartType == PartType.CPU ||
        c.BuildPart.PartType == PartType.Motherboard ||
        c.BuildPart.PartType == PartType.GPU ||
        c.BuildPart.PartType == PartType.Memory).ToList())
        {
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">@component.BuildPart!.PartType</div>
                <div class="card-body">
                    <h6 class="card-title">@string.Concat(component.BuildPart.Manufacturer.Name," - ",component.BuildPart.Name)</h6>
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="card-text">Price: $@component.BuildPart.Price</p>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-check form-switch">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" asp-for="@component.BuildPart.Commited" /> @Html.DisplayNameFor(model => model.Components.FirstOrDefault().BuildPart.Commited)
                                </label>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">Defined Budget: $@component.BudgetValue</p>
                    @if (@component.BuildPart!.PartType == PartType.CPU)
                    {
                        CPU cpuComponent = component.BuildPart as CPU;
                        <p class="card-text">Max Clock: @cpuComponent.OverclockedFrequency MHz</p>
                    }
                    @if (@component.BuildPart!.PartType == PartType.GPU)
                    {
                        GPU gpuComponent = component.BuildPart as GPU;
                        <p class="card-text">Max Clock: @gpuComponent.OverclockedCoreFrequency MHz</p>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        <h4>Secondary Parts</h4>
        @foreach (var component in Model.Components.Where(c => c.BuildPart!.PartType == PartType.CPUCooler ||
        c.BuildPart.PartType == PartType.PSU ||
        c.BuildPart.PartType == PartType.Storage ||
        c.BuildPart.PartType == PartType.WC_CPU_Block ||
        c.BuildPart.PartType == PartType.WC_Radiator ||
        c.BuildPart.PartType == PartType.WC_Reservoir).ToList())
        {
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">@component.BuildPart!.PartType</div>
                <div class="card-body">
                    <h6 class="card-title">@string.Concat(component.BuildPart.Manufacturer.Name," - ",component.BuildPart.Name)</h6>
                    <p class="card-text">Price: $@component.BuildPart.Price</p>
                    <p class="card-text">Defined Budget: $@component.BudgetValue</p>
                    @if (@component.BuildPart!.PartType == PartType.CPUCooler)
                    {
                        CPUCooler cpuCoolerComponent = component.BuildPart as CPUCooler;
                        <p class="card-text">Air Flow: @cpuCoolerComponent.AirFlow</p>
                    }
                    @if (@component.BuildPart!.PartType == PartType.Storage)
                    {
                        Storage storageComponent = component.BuildPart as Storage;
                        <p class="card-text">Speed: @storageComponent.Speed MB/s</p>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-lg-4">
        <h4>Other Parts</h4>
        @foreach (var component in Model.Components.Where(c => c.BuildPart!.PartType == PartType.Case ||
        c.BuildPart.PartType == PartType.CaseFan).ToList())
        {
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">@component.BuildPart!.PartType</div>
                <div class="card-body">
                    <h6 class="card-title">@string.Concat(component.BuildPart.Manufacturer.Name," - ",component.BuildPart.Name)</h6>
                    <p class="card-text">Price: $@component.BuildPart.Price</p>
                    <p class="card-text">Defined Budget: $@component.BudgetValue</p>
                </div>
            </div>
        }
    </div>
    <hr />
    <p><a href="@Url.Action("Build", "Builds")" class="btn btn-primary btn-lg">New Build</a></p>
</div>