@model PCBuildWeb.Models.Entities.Parts.CPU

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CPU</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankingScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankingScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPUSocket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPUSocket.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wattage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wattage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overclockable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overclockable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThermalThrottling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThermalThrottling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicCPUScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicCPUScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreToValueRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreToValueRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultMemorySpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultMemorySpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverclockedCPUScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverclockedCPUScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultiplierStep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultiplierStep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxMemoryChannels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxMemoryChannels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverclockedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverclockedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverclockedFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverclockedFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreClockMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreClockMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemChannelsMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemChannelsMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemClockMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemClockMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelUnlock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelUnlock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lighting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lighting)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
